## Problem Set 2

### Question 1 :- 
Consider the following Python module:

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()

In [3]:
b()

In [5]:
b()

In [6]:
a

6

Answer 1 :- As such a is a global with value 0, c(a) returns a+2 and it is used in b(). So every time when b() is evaluated or called it will update the value of a as a is global.

### Question 2 :-
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

In [17]:
def file_length(file_name):
    try : 
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except :
        print("File Named "+z+" Not Found.")
z= input()
file_length(z)

poly
File Named poly Not Found.

### Question 3 :-
Write a class named Marsupial that can be used as shown below:

In [26]:
class Marsupial:
    def __init__(self):
        self.pouch=[]
    def put_in_pouch(self,data):
        self.pouch.append(data)
    def pouch_contents(self):
        return self.pouch

In [20]:
m = Marsupial()

In [21]:
m.put_in_pouch('doll')

In [22]:
m.put_in_pouch('firetruck')

In [23]:
m.put_in_pouch('kitten')

In [24]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

In [27]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        self.x= x
        self.y= y
        Marsupial.__init__(self)
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates ("+str(self.x)+","+str(self.y)+")"

In [28]:
k = Kangaroo(0,0)

In [29]:
print(k)

I am a Kangaroo located at coordinates (0,0)

In [36]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll',
 'firetruck',
 'kitten',
 'doll',
 'firetruck',
 'kitten',
 'doll',
 'firetruck',
 'kitten',
 'doll',
 'firetruck',
 'kitten',
 'doll',
 'firetruck',
 'kitten',
 'doll',
 'firetruck',
 'kitten',
 'doll',
 'firetruck',
 'kitten']

In [38]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (6,0)

### Question :- 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence: 
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬

In [39]:
def collatz(x):
    print(x)
    while x!= 1:
        if x%2==0:
            x=x/2
            print(int(x))
        else:
            x= 3*x + 1
            print(int(x))

In [40]:
collatz(1)

1

In [41]:
collatz(10)

10
5
16
8
4
2
1

In [42]:
collatz(5)

5
16
8
4
2
1

### Question :- 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [78]:
def binary(n) : 
    if n > 1 :
        recursive(n // 2)          
    print(n % 2,end = "")

In [79]:
binary(0)

0

In [80]:
binary(1)

1

In [81]:
binary(3)

NameError: name 'recursive' is not defined

In [82]:
binary(9)

NameError: name 'recursive' is not defined

### Question 6 :-
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have 
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [152]:
## reference :- https://docs.python.org/3/library/html.parser.html

from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    heading = False
    indent=0
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.heading = True
            self.indent=0
        elif tag == "h2":
            self.heading = True
            self.indent=1
    def handle_data(self, data):
        if self.heading:
            print("\t"*self.indent + data)

In [155]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

### Question :- 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

### Question :- 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [126]:
import sqlite3
import pandas as pd
df = pd.DataFrame({'City' : ['Mumbai', 'Mumbai', 'Mumbai','Mumbai','London','London','London','London','Cairo','Cairo','Cairo','Cairo'], 'Country':['India','India','India','India','United Kingdom','United Kingdom','United Kingdom','United Kingdom','Egypt','Egypt','Egypt','Egypt'], 'Season':['Winter','Spring','Summer','Fall','Winter','Spring','Summer','Fall','Winter','Spring','Summer','Fall'],'Temperature (C)':[24.8,28.4,27.9,27.6,4.2,8.3,15.7,10.4,13.6,20.7,27.7,22.2],'Rainfall (mm)':[5.9,16.2,1549.4,346.0,207.7,169.6,157.0,218.5,16.5,6.5,0.1,4.5]})

conn = sqlite3.connect('Weather.db')
c = conn.cursor()
df.to_sql('WEATHER', conn, if_exists='replace', index = False)

In [129]:
c.execute('''SELECT [Temperature (C)] FROM WEATHER''')
for row in c.fetchall():
    print (row)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [130]:
c.execute('''SELECT DISTINCT CITY FROM WEATHER''')
for row in c.fetchall():
    print (row)

('Mumbai',)
('London',)
('Cairo',)

In [131]:
c.execute("SELECT * FROM WEATHER WHERE Country=?",('India',))
for row in c.fetchall():
    print (row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [132]:
c.execute("SELECT * FROM WEATHER WHERE SEASON=?",('Fall',))
for row in c.fetchall():
    print (row)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [133]:
c.execute("SELECT City, Country, Season FROM WEATHER WHERE [Rainfall (mm)] BETWEEN ? AND ?",(200, 400))
for row in c.fetchall():
    print (row)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [134]:
c.execute("SELECT City, Country FROM WEATHER WHERE Season=? AND [Temperature (C)]>? ORDER BY [Temperature (C)] ASC",('Fall', 20))
for row in c.fetchall():
    print (row)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [135]:
c.execute("SELECT SUM([Rainfall (mm)]) FROM WEATHER WHERE City=?",('Cairo',))
for row in c.fetchall():
    print (row)

(27.6,)

In [136]:
c.execute("SELECT DISTINCT Season, SUM([Rainfall (mm)]) FROM WEATHER GROUP BY Season")
for row in c.fetchall():
    print (row)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

### Question :- 9
Suppose list words is defined as follows:
Write list comprehension expressions that use list words and generate the following
lists:

In [114]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [115]:
print([i.upper() for i in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [116]:
print([i.lower() for i in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [117]:
print([len(i) for i in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [118]:
print([[i.upper(), i.lower(), len(i)] for i in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [119]:
word=[]
[word.append(i) for i in words if len(i)>=4]
print(word)

['quick', 'brown', 'jumps', 'over', 'lazy']